/* Styling cơ bản cho container */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling cho form và input */
form {
  display: flex;
  margin-bottom: 20px;
}
.header {
  color: rgb(55, 194, 194);
  text-align: center;
}

input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Styling cho danh sách tin nhắn */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  animation: fadeIn 0.5s ease-out;

  margin-bottom: 10px;
  padding: 10px;
  background-color: #e9ecef;
  border-radius: 4px;
}
li img {
  width: 30px;
  height: 30px;
  border-radius: 50%; /* Làm tròn ảnh */
  margin-right: 10px;
  object-fit: cover; /* Đảm bảo ảnh được hiển thị đúng cách */
}

.message-sender {
  justify-content: flex-start;
  text-align: left;
}

.message-receiver {
  justify-content: flex-end;
  text-align: right;
}

/* Animation cho tin nhắn mới */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Styling cho thông báo đang nhập */
#typingIndicator {
  color: #666;
  font-style: italic;
}
